.flip-card {
    width: 200px;
    height: 230px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-content {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-back {
    background-color: lightblue;
    text-align: center;
    transform: rotateY(180deg);
}